$primary-color: #00539CFF;
$secondary-color: #DAA03DFF;
$light-blue: #2DA8D8FF;
$dark-gray: #585858;
$medium-gray: #F5F5F5;
$light-gray: #E8E8E8;
$main-white: #fff;
$small-font: 0.8em !important;
$medium-font: 1em !important;
$big-font: 2em !important;
$bold: 600 !important;
$right: right !important;
$rounded: 15px;
